

<nav class="navbar navbar-expand-lg bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Employee App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Admin Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/add">Add Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/search">Employee Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/edit">Employee Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/delete">Employee Delete</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink ="/viewall">View all Employee</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>