
<app-navbar></app-navbar>

<div class="container mt-4">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

          <div class="row g-3">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                <h1 style="color:brown">View all Employees</h1>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <table class="table table-success table-striped">
                    <tr>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Designation</th>
                        <th>Phone Number</th>
                        <th>Salary</th>
                    </tr>
                   <tr>
                    <td>123</td>
                    <td>shajan</td>
                    <td>Trainee</td>
                    <td>7857857857</td>
                    <td>2400</td>
                   </tr>
                   <tr>
                    <td>124</td>
                    <td>Anu sharma</td>
                    <td>Trainee</td>
                    <td>4578578546</td>
                    <td>2500</td>
                   </tr>
                   <tr>
                    <td>125</td>
                    <td>Shikha Abraham</td>
                    <td>Trainee</td>
                    <td>45875478965</td>
                    <td>2456</td>
                   </tr>
                   <tr>
                    <td>125</td>
                    <td>Abhi Akhil</td>
                    <td>Trainee</td>
                    <td>7854698745</td>
                    <td>2345</td>
                   </tr>
                   <tr>
                    <td>126</td>
                    <td>Ashwin</td>
                    <td>Trainee</td>
                    <td>7896541254</td>
                    <td>789654</td>
                   </tr>
                   
                </table>
            </div>
         
          </div>

        </div>
    </div>
</div>
