<app-navbar></app-navbar>

<div class="container mt -4">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h1 style ="color:brown">Add Employee</h1>
                </div>
                <!-- <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Employee Code</label>
                    <input type="text" class="form-control">
                </div> -->
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Employee Name</label>
                    <input name="name" [(ngModel)]="name" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Designation</label>
                    <input name ="designation" [(ngModel)]="designation" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Salary</label>
                    <input name="Salary" [(ngModel)]="Salary" type="text" class="form-control">
                </div>
                <!-- <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Phone Number</label>
                    <input type="text" class="form-control">
                </div> -->
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Company Name</label>
                    <input name="companyname" [(ngModel)]="companyname" type="text" class="form-control">
                </div>
                <!-- <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Year of Experience</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Email</label>
                    <input type="text" class="form-control">
                </div> -->
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button (click)="readValues()" class="btn btn-success">Submit</button>
                    <a class="nav-link active" routerLink="" aria-current="page" routeLink="">Logout</a>
                </div>
                
                   
                 
            </div>
        </div>
    </div>
</div>
